In [1]:
import pandas as pd
import numpy as np
import networkx as nx
from plotly.offline import download_plotlyjs, init_notebook_mode, iplot
import plotly.graph_objs as go

In [2]:
network_df = pd.read_csv("SENA_Dataset - MCUActorList.csv")

In [3]:
network_df.head()

,Name,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Iron Man,Robert Downey Jr.,Gweneth Paltrow,Terrence Howard,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,The incredible Hulk,Edward Norton,Liv Tyler,Tim Roth,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Iron Man 2,Robert Downey Jr.,Gweneth Paltrow,Mickey Rourke,Samuel L. Jackson,Scarlett Johansson,Don Cheadle,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Thor,Chris Hemsworth,Anthony Hopkins,Natalie Portman,Idris Elba,Tom Hiddleston,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Captain America: The first Avenger,Chris Evans,Hugo Weaving,Samuel L. Jackson,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN